.cancel-btn {
  pointer-events: none;
  color: lightgray;
}
.cancel-button {
  cursor: pointer;
  color: #1352ca;
}
.edit-button {
  cursor: pointer;
  color: #1352ca;
}
.edit-btn {
  pointer-events: none;
  color: lightgray;
  cursor: pointer;
}

.cancel {
  margin: 0 10px 0 0;
}
.edit,
.cancel {
  padding: 5;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}
