.arrow {
  margin-top: 70px;
  margin-left: 20px;
}
.heading {
  text-align: center;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: normal;
  color: #242424;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 1100px;
  margin: auto;
}
.form-field {
  margin-left: 20px;
  width: 150px;
  margin-right: 20px;
}
.date {
  font-family: 'Poppins', sans-serif;
}
.reset {
  color: #1352ca;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  letter-spacing: normal;
  cursor: pointer;
}
