<div class="container">
    <div class="arrow">
        <abbr title="Go Back" class="name-abbr">
            <button mat-icon-button>
                <mat-icon class="arrow-cursor" (click)="arrow()">arrow_back</mat-icon>
            </button>
        </abbr>
    </div>

    <mat-card class="example-card">
        <mat-card-title class="title">Upload Holiday Calendar</mat-card-title>
        <mat-card-content>
            <app-loading-spinner></app-loading-spinner>
            <form class="form" [formGroup]="dateForm">

                <mat-form-field appearance="outline" class="date-form">
                    <mat-label>Select Year</mat-label>
                    <input readonly matInput [matDatepicker]="dp" [errorStateMatcher]="matcher" [min]="minDate"
                        [max]="maxDate" formControlName="year" />
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event,dp)"
                        class="example-month-picker">
                    </mat-datepicker>
                </mat-form-field>

                <div class="upload-btn-wrapper">
                    <button class="btn upload-file" (click)="selectfile.click()" title="{{filename}}">
                        <span class="upload-btn">
                            <mat-icon class="d-block">upload</mat-icon>
                            {{filename}}
                        </span>
                        <span class="upload-select-btn" #blankfile>*Please upload csv file only</span>
                        <input type="file" (change)="onSelectedFile($event)" #selectfile accept=".csv">
                    </button>
                </div>

                <div class="actions">
                    <button mat-stroked-button matDatepickerToggleIcon class="btn-cancel" type="button"
                        *ngIf="dateForm.valid" (click)="onCancel()">
                        Cancel
                    </button>
                    <button mat-raised-button type="submit" class="btn-upload" (click)="onSubmit()"
                        *ngIf="dateForm.valid">
                        Upload
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>