<div class="container">
    <h3 class="heading">Welcome,</h3>
    <img src="./assets/images/3664.png" class="image" alt="calendars-photo" />
    <p class="content">Work Smart, Manage Smart</p>
    <p class="content-sub">Manage your team by Next Generation Leave Planner</p>
    <div class="row">
        <button mat-flat-button class="myteam" (click)="myTeamDialog()">
      My Teams
    </button>
        <button mat-raised-button class="myleave" (click)="declareLeaveDialog()">
      Declare Leave
    </button>
    </div>
    <div class="big-circle"></div>
    <div class="circle"></div>
</div>